<p>bid-product works!</p>
<form action="">
    <div class="mb-3">
        <label for="" class="form-label">ID product</label>
        <input type="text" class="form-control">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Start time</label>
        <input type="date" class="form-control">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">End time</label>
        <input type="date" class="form-control">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Price</label>
        <input type="number" class="form-control">
    </div>
    <div class="mb-3">
        <button class="btn btn-primary w-full">Submit</button>
    </div>
</form>