<h1 class="text-center text-xl font-semibold my-8">List of bids</h1>

<table class="table">
  <thead>
    <tr>
      <th>STT</th>
      <th>Email</th>
      <th>Price</th>
      <th>Date</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let bid of bids; let i = index">
      <td>{{ i + 1 }}</td>
      <td>{{ bid.userId.email }}</td> 
      <td>{{ bid.bidAmount }}</td>
      <td>{{ bid.createdAt | date: 'short' }}</td> 
      <td><button *ngIf="isHighestBidder(bid)" (click)="declareWinner(bid)" class="btn btn-info">Winner</button></td>
    </tr>
    <tr *ngIf="!bids.length">
      <td colspan="5">No bids available for this product.</td>
    </tr>
  </tbody>
</table>
